$primary: #FFCD00;
$secondary: #25768A;
$success: #70B7C8;
$warning: #FF9F00;
$alert: #EC5840;
$be-black: #000000;

@import "decidim/application";

// Customizations
$be-navbar-bg: #191919;
$be-navbar-bg-hover: rgba(255, 205, 0, .02);
$be-navbar-color: rgba(255, 205, 0, .5);
$be-navbar-color-hover: $primary;
$be-navbar-active-color: $primary;
$be-navbar-active-bg: $be-navbar-bg-hover;

/* Navigation */

.navbar{
  background: $be-navbar-bg !important;
}

.title-bar{
  background-color: $be-black !important;
}

/* Menu icon and off-canvas */
.topbar__menu{
  button{
    color: inherit;
  }
}

.topbar__edit__link a{
  &:hover{
    background: $be-navbar-bg-hover !important;
    color: $be-navbar-color-hover !important;
  }
}

.usermenu-off-canvas-holder .usermenu-off-canvas{
  a{
    color: $be-navbar-color !important;

    &:hover{
      background: $be-navbar-bg-hover !important;
      color: $be-navbar-color-hover !important;
    }
  }
}

.main-nav__link a{
  color: $be-navbar-color !important;

  &:hover{
    background: $be-navbar-bg-hover !important;
    color: $be-navbar-color-hover !important;
  }
}

.main-nav__link--active a{
  color: $be-navbar-active-color !important;
  background: $be-navbar-active-bg !important;
}


.omnipresent-banner a{
  color: $be-black !important;
}

.button, .subhero-cta{
  color: $be-black !important;
}

.button.hollow{
  border: 1px solid $be-black !important;
}

.pull-right{
  float: right;
}

.main-footer{
  background: $primary !important;
  a{
    color: $be-black !important;
  }
}
.mini-footer{
  background-color: $be-navbar-bg !important;
  .column{
    img{
      display: none;
    }
  }
}
